repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
#      - id: backend-pytest
#        name: backend pytest
#        entry: bash -c 'cd backend && uv run --extra dev pytest -v --cov=src --cov-report=xml --cov-report=term'
#        language: system
#        pass_filenames: false
